includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
        
    phpVersion: 80199

    # The level 9 is the highest level - Mini 5
    level: 5

    noModelMake: false
    noUnnecessaryCollectionCall: false

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Access to an undefined property#'
        - '#Undefined variable: \$this#'

    # excludePaths:
    #     - ./vendor

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false