includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
        
    phpVersion: 80199

    # The level 9 is the highest level - Mini 5
    level: 6

    noModelMake: false
    noUnnecessaryCollectionCall: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Access to an undefined property#'
        - '#Undefined variable: \$this#'

    # Reinclude these if any of these files have been modified
    excludePaths:
        - ./app/Policies/EventPolicy.php
        - ./app/Http/Controllers/Auth/VerifyEmailController.php

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false